[Unit]
Description=macsec key broadcast receiving daemon
After=network.target sys-devices-virtual-net-wlo1.device macsec.service 

[Service]
User=root
WorkingDirectory=/opt/macsec
ExecPreStart=sleep 5
ExecStart=/usr/bin/python3 /opt/macsec/macpipe.py -r

# [Install]
# WantedBy=multi-user.target
